html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  scrollbar-width: thin;
  scrollbar-color: #545454 #FDDCC4;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  display: block;
  padding: 0px;
}

body {
  position: relative;
  background-color: #CCAb93;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #545454;
}

body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.is-hidden {
  display: none;
}

img,
a,
span {
  display: block;
}

textarea {
  border: none;
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

/*********** second try ********************/
/* montserrat-300 - latin_cyrillic */
*,
html,
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  color: #545454;
}
@media (max-width: 1024px) {
  *,
html,
body {
    font-size: 12px;
  }
}

.form__title {
  font-size: 1.6vw;
}
.form__tag-input.invalid {
  color: #9f1414;
}
.form__tag-input.invalid::placeholder {
  color: #9f1414;
}
.form__button:hover {
  transition: 0.5s;
  color: #CCAb93;
}
.form__error-message {
  color: #9f1414;
}

.button {
  background-color: #FDDCC4;
  border: 3px solid #F1CDB3;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  transition: 0.5s;
  background-color: #FAFAFA;
}
.button:disabled, .button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 35%;
  width: 30%;
  height: 30%;
  background-color: #F1CDB3;
  color: #FFFFFF;
  font-size: 1.5rem;
}

.error p {
  text-align: center;
}

.error.invisible {
  display: none;
}

.switcher {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 67px;
  height: 35px;
  margin: 0 auto;
}
.switcher__wrapper {
  height: 80px;
}
.switcher input {
  display: none;
}
.switcher__slider {
  width: 60px;
  height: 35px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F1CDB3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.switcher__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: #CCAb93;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switcher__label {
  display: block;
  line-height: 30px;
  height: 35px;
  margin-top: 20px;
  user-select: none;
}
.switcher__checkbox:checked + .switcher__slider {
  background-color: #FAFAFA;
}
.switcher__checkbox:focus + .switcher__slider {
  box-shadow: 0 0 1px #FAFAFA;
}
.switcher__checkbox:checked + .switcher__slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

.sections-wrapper {
  min-height: 100vh;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-around;
}

.display-panel {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 65%;
  background-color: #FDDCC4;
  border-radius: 5px;
  padding: 1%;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  padding-top: 50px;
}
.form-section .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  height: 350px;
}
.form-section .form__control-container {
  display: flex;
  justify-content: space-between;
}
.form-section .form__tag-input {
  height: 55px;
  border-radius: 10px;
  padding-left: 10px;
  background-color: #FDDCC4;
  border: 3px solid #F1CDB3;
}
.form-section .form__tag-input.invalid {
  border: 3px solid #9f1414;
}
.form-section .form__tag-input:disabled, .form-section .form__tag-input[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.form-section .form__button {
  width: 40%;
  height: 45px;
}

.clear-button {
  width: 50%;
  height: 45px;
  margin: 30px auto;
}

.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 15%;
  max-width: 30%;
  padding: 5px;
  height: 65px;
  background-color: #F1CDB3;
  border-radius: 5px;
  user-select: none;
  overflow: hidden;
}
.tag__delete-icon {
  margin: 5px;
  height: 100%;
  width: 30px;
}
.tag__svg-cross {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.tag__svg-cross:hover {
  transition: 0.5s;
  fill: #FFFFFF;
}
.tag__svg-cross.read-only-mode:hover {
  transition: 0.5s;
  fill: #9f1414;
}
.tag__text {
  width: 80%;
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
}

/*# sourceMappingURL=main.css.map */
