@use "../abstracts/variables" as var;

.button {
    background-color: var.$color-primary-light;
    border: 3px solid var.$color-primary;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        transition: 0.5s;
        background-color: var.$color-light-s;
    }
    &:disabled,
    &[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
}

.form__button {
    width: 40%;
    height: 45px;
}

.clear-button {
    width: 50%;
    height: 45px;
    margin: 30px auto;
}

.remove-button {
    width: 20%;
    height: 45px;
}

.add-list-button {
    height: 45px;
    width: 20%;
}

.display-panel {
    &__close-button {
        position: absolute;
        right: -15px;
        top: -15px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background-color: var.$color-dark-m;
        border: 2px solid var.$color-dark-l;
        transition: 0.5s;
        &:hover{
            border: 2px solid var.$color-light-s;
            background-color: var.$color-dark-l;
            .display-panel__svg-cross{
                fill: var.$color-light-s;
            }
        }
    }

    &__svg-cross {
        width: 12px;
        height: 12px;
        transition: 0.5s;
    }
}
