@use "../abstracts/variables" as var;

.switcher {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 67px;
    height: 35px;
    margin: 0 auto;
 
    &__wrapper {
        height: 80px;
    }

    & input {
        display: none;
    }
    
    &__slider {
        width: 60px;
        height: 35px;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var.$color-primary;
        -webkit-transition: 0.5s;
        transition: 0.5s;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 25px;
            left: 4px;
            bottom: 4px;
            background-color: var.$color-primary-dark;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }
    }

    &__label {
        display: block;
        line-height: 30px;
        height: 35px;
        margin-top: 20px;
        user-select: none;
    }

    &__checkbox {
        &:checked + .switcher__slider {
            background-color: var.$color-light-s;
        }
        
        &:focus + .switcher__slider {
            box-shadow: 0 0 1px var.$color-light-s;
        }
        
        &:checked + .switcher__slider:before {
            -webkit-transform: translateX(25px);
            -ms-transform: translateX(25px);
            transform: translateX(25px);
        }
    }
}




