@use "./abstracts/variables" as var;
@use "./base";

//sass --watch ./styles/sass/:./styles/css

.sections-wrapper {
    min-height: 100vh;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-around;
}

.display-panel {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    width: 65%;
    background-color: var.$color-primary-light;
    border-radius: 5px;
    padding: 1%;
}

.form-section {
    width: 25%;
    padding-top: 50px;
    .form {
        display: flex;
        flex-direction: column;
        gap: 40px;

        &__tag-input {
            height: 60px;
            border-radius: 10px;
            padding-left: 10px;
            background-color: var.$color-primary-light;
            border: 3px solid var.$color-primary;
            &.invalid {
                border: 3px solid var.$color-invalid;
            }
        }

        &__button {
            margin: 0 auto;
            width: 200px;
            height: 60px;
            background-color: var.$color-primary-light;
            border: 3px solid var.$color-primary;
            border-radius: 10px;
            cursor: pointer;
            &:hover {
                transition: 0.5s;
                background-color: var.$color-light-s;
            }
        }
    }
}

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 15%;
    max-width: 32.5%;
    padding: 1%;
    height: 100px;
    background-color: var.$color-primary;
    border-radius: 5px;
    user-select: none;
    overflow: hidden;

    &__delete-icon {
        // width: 13%;    // WHY WITH THAT PROPERTY TAG BLOCK BECOME FIXED WIDTH?
        margin: 5px;
        height: 100%;
        width: 30px;
    }

    &__svg-cross {
        width: 100%;
        height: 100%;
        cursor: pointer;
        &:hover {
            transition: 0.5s;
            fill: var.$color-light-xl;
        }
    }

    &__text {
        width: 80%;
        text-align: justify;
        word-wrap: break-word;
        hyphens: auto;
    }
}
