@use "../abstracts/variables" as var;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body{
    scrollbar-width: thin;
    scrollbar-color:  var.$color-dark-l var.$color-primary-light;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 400;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    display: block;
    padding: 0px;
    background-color: var.$color-dark-xl;
}

body {
    position: relative;
    background-color: var.$color-primary-dark;
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var.$color-dark-l;
    }
    
}

body.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

// .container {
//     max-width: 1280px;
//     margin: 0 auto;
// }

.is-hidden {
    display: none;
}

img,
a,
span {
    display: block;
}

textarea {
    border: none;
    outline: none;
}
textarea:focus,
input:focus {
    outline: none;
}
