@use "./fonts";
@use "../abstracts/variables" as var;

*,
html,
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    @media (max-width: var.$laptop) {
       font-size: 12px;
    }
    color: var.$color-dark-l;
}

.button {
    &:hover {
        transition: 0.5s;
        color: var.$color-dark-xl;
    }
}

.form {
    &__title{
        font-size: 22px;
        @media (max-width: var.$tablet) {
            font-size: 15px;
         }
    }

    &__tag-input{
        &.invalid {
            color: var.$color-invalid;
            &::placeholder {
                color: var.$color-invalid;
            }
        }
    }

    &__error-message {
        color: var.$color-invalid;
    }
}


.pagination {
    &__current-page {
        text-align: center;
        user-select: none;
        line-height: 35px;
        font-size: 25px;
    }
}

