$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #000000;
$color-blackout: rgba(0, 0, 0, 0.6);

$mobile-s:320px;
$mobile-m:576px;
$tablet:768px;
$laptop:1024px;
$laptop-m:1280px;
$laptop-l:1440px;